.product-form {
  width: 400px;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 10px 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #eba2a2;
  font: inherit;
  border-radius: 20px;
}

button {
  font: inherit;
  border: 1px solid #eba2a2;
  background: white;
  color: #eba2a2;
  border-radius: 3px;
}

button:hover {
  background: #eba2a2;
  color: white;
}