extends layout/main-layout.pug

block content 
  main
    if prods.length > 0
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            div.card__image
              img(src="https://img.freepik.com/free-vector/gradient-travel-agency-annual-report-template_23-2149404112.jpg?t=st=1720162557~exp=1720166157~hmac=f9c08bde082d26d06df04b119b2565cf4a9d941c2effdf6db1da251f7cfe383f&w=100", alt="A book")
            div.card__content
              h2.product__price $20
              p.product__description Description of the book
            .card__actions
              button.btn Add to Cart
    else
      h1 No Products