<%- include('includes/head.ejs') %>
<body>
  <main>
    <form action="/" method="POST">
      <div class="form-control">
        <label for="user">user name</label>
        <input type="text" name="user" id="user">
      </div>
      <button type="submit">Add User</button>
    </form>
  </main>
</body>
</html>